{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center me-3">This is Contacts page, son!<h1>
        </div>
    </div>
</div>
{{end}}