{{template "base" .}}

{{define "content"}}
<!-- The picture for General's quarters -->
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/majors-suite.png"
                class="image-fluid img-thumbnail rounded mx-auto d-block room-image" alt="room image">
        </div>
    </div>       
</div>

<!--bottom placing-->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center me-3">This is Major's Suite, son!<h1>
        </div>
    </div>
</div>
<!--button placing-->
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a id="search-availability-button" href="#!" class="btn btn-success">Check Avialiability</a>
        </div>
    </div>
</div>
{{end}}
