/* describing my-footer class */
.my-footer {
	height: 5rem;
	background-color: #1b4bc5d4;
	margin-top: 1.5rem;
	padding: 1rem;
	color: rgba(227, 255, 223, 0.466);
	font-size: 100%;
}

/* describing room-image class */
.room-image {
	width: 50%;
}


.notie-container {
	box-shadow: none;
}
